// primary colors
$dark-blue: #002364;
$accent-blue: #016eff;
$accent-yellow: #fddc35;
$geze-red: #E2001A;
$geze-green: #009036;

$content-bg: #eff0ec;
$content-bg2: #f4f6f7;

// secondary colors
$black-grey:#4a4a48;
$dark-grey: #767878;
$mid-grey: #C1C4C1;
$light-grey: #E0E1DA;

// fonts 
$primary-font: 'Source Sans Pro', sans-serif;
$primary-font-color: white;

$card-color: #4a4a48;
$alpha-card : 0.3;